.team {
    padding: 40px 40px 0 40px !important;
}

.team-header {
    height: 36px;
    line-height: 36px;
}

.team-header-left {
    float: left;
    font-size: 24px;
    font-weight: 400;
    padding: 3px 8px;
}

.team-header-right {
    text-align: right;
}

.team-header-right div {
    display: inline-block;  
}

.team-header-add-btn button {
    background-color: rgba(158, 125, 254, 1);
    border-radius: 4px;
    border: 1px solid rgba(158, 125, 254, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    width: 141px;
}

.team-header-add-btn img {
    margin: 0 0 3px 5px;
}

.team-header-import-btn button {
    margin-left: 16px;
    background-color: rgba(242, 244, 248, 1);
    border-radius: 4px;
    border: 1px solid rgba(197, 177, 254, 1);
    color: rgba(158, 125, 254, 1);
    font-size: 12px;
    width: 135px;
}

.team-header-import-btn img {
    margin: 0 0 2px 5px;
}

.team-table {
    margin-top: 40px;
}

.team-filters {
    display: flex;
}

.team-filters div{
    display: flex;
}

.team-search input{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(226, 216, 255, 1);
    border-radius: 8px;
    padding-top: 12px; 
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 30px;
    outline: none;
    width: 233px;
    margin-right: 3px;
    height: 32px;
}

.team-search svg {
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
}

.team-filter-control {
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 8px;
    padding-top: 12px; 
    padding-bottom: 12px;
    padding-left: 8px;
    width: calc(100% - 280px);
}

.team-filter-control-input {
    font-size: 12px;
    font-weight: 400;
    color: rgba(78, 83, 86, 1);
    letter-spacing: 0.4px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 16px;
    margin-right: 8px;
    padding: 6px 10px;
}

.team-filter-control-input svg {
    padding: 6px 0 6px 8px ;
}

.team-filter-control-reset {
    font-size: 12px;
    font-weight: 500;
    color: rgba(151, 119, 242, 1);
    letter-spacing: 0.4px;
    text-align: right;
    margin-left: auto;
    padding: 6px 0;
}

.team-filter-control-reset svg {
    padding: 0 8px;
}

.team-table-header {
    background-color: rgba(250, 251, 252, 1);
    height: 40px;
    line-height: 40px;
    padding: 8px;
    border-radius: 8px;
}

.team-table-header-left {
    float: left;
    color: rgba(128, 132, 134, 1);
    font-size: 12px;
    font-weight: 400;
    padding-left: 12px;
}

.team-table-header-right {
    text-align: right;
}

.team-table-header-right span {
    color: rgba(151, 119, 242, 1);
    font-size: 12px;
    font-weight: 500;
    padding: 0 5px;
}

.team-table-list table {
    border-spacing: 0 2px ;
    border-collapse: inherit;
    width: 100%;
}

.team-table-list tr {
  padding: 3px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.team-table-list td {
    height: 56px;
    padding: 12px 0 12px 15px;
}

.team-table-list img {
    margin-right: 15px;
    float: left;
}

.col-table {
    width: 120px;
}

.team-table-list-user {
    padding-top: 6px;
}

.team-table-list-contract {
    text-align: right;
    padding-right: 15px !important;
}

.team-table-list-header {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: rgba(179, 181, 183, 1);
}

.team-table-list-header svg {
    padding-right: 4px;
}

.team-table-list-name {
    font-size: 14px;
    color: rgba(151, 119, 242, 1);
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.1px;
}

.team-table-list-post {
    font-size: 12px;
    color: rgba(189, 189, 189, 1);
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.4px;
}

.team-table-list-type {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: rgba(27, 34, 38, 1);
}

.team-table-list-project {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.14px;
    color: rgba(151, 119, 242, 1);
}

.team-table-list-team {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: rgba(128, 132, 134, 1);
}

.team-table-list-country {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: rgba(128, 132, 134, 1);
}

.team-table-list-contract-disabled {
    text-align: right;
    padding-right: 15px !important;
}

.team-table-list-contract-disabled span {
    border: 1px solid rgba(223, 228, 238, 1);
    border-radius: 16px;
    background-color: rgba(252, 252, 253, 1);
    color: rgba(192, 202, 221, 1);
    font-size: 10px;
    font-weight: 500;
    padding: 4px 9px;
}

.team-table-list-contract-active {
    text-align: right;
    padding-right: 15px !important;
}

.team-table-list-contract-active span {
    border: 1px solid rgba(194, 228, 195, 1);
    border-radius: 16px;
    background-color: rgba(237, 247, 237, 1);
    color: rgba(76, 175, 80, 1);
    font-size: 10px;
    font-weight: 500;
    padding: 4px 9px;
}

